This are not the droids that you are looking for

<% if @missing.any? %>
<ul>
<% @missing.each do |locale|  %>
  <li><%= locale.name %></li>
  <ul>
    <% locale.translations.where('translations.missing = ?', true).each do |translation| %>
    <li><%= translation.keyname %> (<a href='<%= url "/translation/#{ translation.id }" %>'>translate</a>)</li>
    <% end %>
  </ul>
<% end %>
</ul>
<% else %>
nothing missing
<% end %>